extends ../layout.pug 

block content
    h1 Connexion 

    if error
        .alert.alert-danger(role="alert") #{error}
    form(method="post")
        .form-group 
            label(for="email") Adresse e-mail 
            input.form-control(type="email" id="email" name="email" placeholder="Votre adresse mail" value=email)
        .form-group 
            label(for="password") Mot de passe 
            input.form-control(type="password" id="password" name="password" placeholder="Votre mot de passe")
        .form-group 
            button.btn.btn-primary(type="submit") Se connecter 